# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environments
venv/
env/
.venv/
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
